


{% set variants = [
  { label: 'Primary Button', variant: 'primary', disabled: false },
  { label: 'Secondary Button', variant: 'secondary', disabled: false },
  { label: 'Disabled Button', variant: 'disabled', disabled: true }
] %}

{% for variant in variants %}
  {% render '@button', variant %}
{% endfor %}
