<!-- Mount target for Vue -->
<h1>Buttons</h1>

<!-- This renders inside the preview layout's {{ yield }} -->
<!-- <div id="vue-app"></div> -->


<div
  class="vue-app"
  data-label="{{ label }}"
  data-variant="{{ variant }}"
  data-disabled="{{ disabled }}"
></div>
