<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <!-- Hardcoded for dev: always load Vite's main.js -->
  <script type="module" src="http://localhost:3000/main.js"></script>
</head>
<body>
  <div class="vue-app">
  {{ yield | safe }}
</div>
</body>
</html>
